.update {
    display: flex;
    padding: 50px;
    width: 55%;
    background-color: black;
}
.update__title {
    width: 51%;
    margin-right: 50px;
}
.update__title h1 {
    color: white;
    font-size: 40px;
    margin: 0;
}
.update__title p {
    color: white;
    font-size: 20px;
}
.footer__form {
    display: flex;
    flex-direction: column;
}
.footer__form input {
    margin: 5px 0;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    width: 140%;
}
.footer__form button {
    border-radius: 35px;
    padding: 10px 30px;
    background-color: #E9002F;
    border: 2px solid #E9002F;
    outline: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: .2s;
    margin-top: 20px;
}
.footer__form button:hover {
    background-color: transparent;
}
.map {
    width: 61.5%;
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 30px;
}
.footer__logo {
    display: flex;
    align-items: center;
    width: 50%;
}
.footer__logo img {
    margin-right: 30px;
}
.footer__logo p {
    font-size: 18px;
    line-height: 1.2em;
}